 body {
       
         background-color: #fffbe6;

    }
    .navbar {
    background-color: #a86201;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
}
.left-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.left-section img {
    margin-right: 15px;  

}

.brand-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brand-logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    gap: 50px;
}

.brand-text {
    margin: 10;
    padding: 20;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.center-links {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}

.center-links a:hover {
    color: darkorange;
}

.right-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
    transition: 0.3s;
}

.right-links a:hover {
    color: gold;
}
.banner-logo {
    margin: 0;
    padding: 0;
    display: block;
}

    .container {
        height: 1250px;
        max-width: 800px;
        margin: 50px auto;
        background: #ffffff;
        padding: 80px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.12);
        border: 2px solid #f7f3d6;
    }

    .header {
        text-align: center;
        margin-bottom: 25px;
    }

    .header h1 {
        margin: 0;
        font-size: 32px;
        color: #111212;
        text-shadow: 0 0 10px #fff8b6;
    }

    .header p {
        font-size: 15px;
        color: #555555;
    }
    .img{
        height: 330px;
        width: 600px;

        display: block;
        margin: 0 auto;
       

    }

    .labels {
        font-weight: 600;
        color: #6a5e00;
        display: block;
        margin-bottom: 6px;
        margin-top: 15px;
    }
    .selection {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: 1.5px solid #cfd4a6;
        font-size: 14px;
        background: #fffff8;
        transition: 0.2s;

    }
    
   .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

     .checkbox-label {
        background: #fffff0;
        padding: 8px 14px;
        border-radius: 25px;
        border: 1px solid #e3e6b0;
        cursor: pointer;
        transition: 0.2s;
        margin-top: 20px;
    }

    .checkbox-label:hover {
        background: #fff9d4;
        border-color: #c0c739;
    }

    .buttons {
        width: 100%;
        padding: 14px;
        background: linear-gradient(135deg, #ffd77a, #ffb74c);
        border: none;
        border-radius: 12px;
        color: #3a3737;
        font-size: 18px;
        margin-top: 25px;
        cursor: pointer;
        font-weight: 600;
        box-shadow: 0 5px 15px rgba(183, 255, 0, 0.3);
        transition: 0.3s;
    }

    button:hover {
        background: linear-gradient(135deg, #ffde59, #e67f00);
        box-shadow: 0 8px 20px rgba(255, 255, 0, 0.5);
    }
