body {
    margin: 0;
    padding: 0;
    background-color: #fffbe6;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #a86201;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 60px;
    border-radius: 5px;
}

.brand-name {
    color: white;
    margin: 0;
    font-size: 30px;
    font-weight: dark;
}

.center-links {
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}

.center-links a:hover {
    color: darkorange;
}

.right-links {
    display: flex;
    gap: 25px;
}

.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
}

.right-links a:hover {
    color: darkorange;
}


.container {
    max-width: 650px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(./../images/feedback_bg.jpeg);
}


h2 {
    text-align: center;
    font-size: 26px;
    color: #a86201;
    margin-bottom: 15px;
}

label {
    font-weight: 700;
    margin-top: 20px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 10px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
}

.options input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 35px;
    margin: 10px 0;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.star-rating input:checked~label {
    color: #ff9900;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #ff9900;
}


@media (max-width: 768px) {
    .navbar {
        text-align: center;
        gap: 15px;
        padding: 15px;
        flex-direction: column;
    }

    .center-links {
        gap: 15px;
        margin: 10px 0;
    }

    .right-links {
        gap: 15px;
    }

    .row {
        flex-direction: column;
    }
}


.view-more-container {
    display: flex;
    justify-content: center;
}

.view-more-btn {
    background-color: #31443b;
    color: #ffffff;
    padding: 15px;
    margin: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.view-more-btn:hover {
    background-color: #192d1d;
    box-shadow: rgba(41, 72, 59, 0.4);
}

footer {
    background-color: #a86201;
    color: white;
    padding: 40px 50px 20px 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-container div {
    flex: 220px;
}

.footer-about h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-links a,
.footer-social a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 6px;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
    color: darkorange;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-contact a:hover {
    color: darkorange;
}


.social-icon {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid #ffffff80;
    padding-top: 10px;
    font-size: 14px;
}

@media (max-width: 1100px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .left-section,
    .center-links,
    .right-links {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .center-links {
        gap: 25px;
    }

    .right-links {
        gap: 20px;
    }
}

@media (max-width: 900px) {

    .brand-logo {
        width: 70px;
        height: 70px;
    }

    .brand-text {
        font-size: 24px;
    }

    .center-links a,
    .right-links a {
        font-size: 18px;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 600px) {

    .brand-logo {
        width: 60px;
        height: 60px;
    }

    .brand-text {
        font-size: 22px;
    }

    .center-links a,
    .right-links a {
        font-size: 18px;
    }

}

@media (max-width: 600px) {
    footer {
        padding: 25px 15px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container div {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-links a,
    .footer-social a {
        font-size: 14px;
        margin: 4px 0;
    }

    .footer-bottom {
        font-size: 12px;
    }
}