* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body
    {
       background-color:rgb(255, 255, 255);
     }
     
     .parent{
                
        height: 400px;
        width:1000px;
        border: solid 2px black;
    }

.parent{
    background-color:;
    height:440px;
    width: 500px;
    justify-content: center;
    margin-left: 400px;
    margin-top:40px;

    padding-bottom: 10px;
    display: flex;
    border-radius: 10px;
    border: none;
    padding-top: none;
    box-shadow: 17px 17px 2px rgb(83, 26, 83);
    }
    .btn{
    padding:8px 82px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom:none;
    background-color:rgb(6, 187, 6);
    text-align: center;
    box-shadow: 2px 2px 2px rgb(23, 78, 23);
    
    }

     .btn2{
    padding:6px 30px;
    border-radius:5px;
    box-shadow: 4px 5px 2px black;
   }
   .text1{
    text-align: center;
    color:rgb(131, 34, 131);
   }
 .text3{
    color:rgb(87, 24, 87);
 }