* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbe6;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}


.parent {
    background-color: white;
    width: 500px;
    padding: 25px;
    margin-left: 80px;
    margin-top: 40px;
    border: 2px solid #9c7135;
    color: #03203A;
    border-radius: 10px;
    box-shadow: 5px 10px 3px #9c7135;
    font-size: 18px;
}

.parent:hover {
    box-shadow: 5px 10px 10px 2px #6d6c6c;
    transition: 0.5s;
    background-color: #e1f5e2;
}

.btn2 {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 2px #9c7135;
    border: 1px solid #555;
}


.text1 {
    text-align: center;
    color:  #a86201;
    font-size: 36px;
}

.btn{
    padding:10px 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:none;
    background-color:#31443b;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(23, 78, 23);
    margin-left: 130px;
    color: white;
    font-size: 18px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    
}

 .btn:hover {
    background-color: #192d1d;
    box-shadow: rgba(41, 72, 59, 0.4);
 }




.parent-2 {
    display: flex;
}


.responsive-img{
    width: 750px;
    height: 750px;
}


.paregraf {
    text-align: center;
    color:#e8e8ee;
    font-size: 20px;
}

.paregraf1 {
    text-align: center;
    color:#0b0b0e;
    font-size: 20px;
}
.text3 {
    color: #03203A;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .parent {
        width: 90%;
        margin-left: 10px;
    }

    .responsive-img {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .parent-2 {
        flex-direction: column;
        align-items: center;
    }

    .responsive-img {
        width: 100%;
    }
}
